<div class="team_section center-block">
<h3 class="text-center team_title">
    Team Members
</h3>

<div class="row">
    <div class="col-sm-4 text-center teammate">
        <img [src]="'assets/kristen_altenburger.png' | static" class="team_member"/>
        <h4>
            Kristen M. Altenburger
        </h4>
        <p>Data Science Lead</p>
        <div id="hover" style="border: 2px solid red; width: 100%;height: 100%;">Test Message!!!!!!!!!!!!!!!!!!!!!</div>

    </div>
    <div class="col-sm-4 text-center">
        <img [src]="'assets/henryk_blasinski.png' | static" class="team_member"/>
        <h4>
            Henryk Blasinski
        </h4>
        <p>Computational Imaging Lead</p>
    </div>
    <div class="col-sm-4 text-center">
        <img [src]="'assets/sonali_prasad.png' | static" class="team_member"/>
        <h4>
            Sonali Prasad
        </h4>
        <p>Multimedia Journalist/Environmental Storyteller</p>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-4 text-center">
        <img [src]="'assets/vignesh_ramachandran.png' | static" class="team_member"/>
        <h4>
            Vignesh Ramachandran
        </h4>
        <p>Multimedia Journalist/Web Designer</p>
    </div>
    <div class="col-sm-4 text-center">
        <img [src]="'assets/dailin_shen.png' | static" class="team_member"/>
        <h4>
            Dailin Shen
        </h4>
        <p>Web Developer/UI Designer</p>
    </div>
    <div class="col-sm-4 text-center">
        <img [src]="'assets/katie_shepherd.png' | static" class="team_member"/>
        <h4>
            Katie Shepherd
        </h4>
        <p>Multimedia Journalist/Environmental Storyteller</p>
    </div>
</div>
</div>
