<h4>
    Team
</h4>
<p>
    Kristen M. Altenburger is currently pursuing her PhD in the Management Science & Engineering Department at Stanford University and focuses on social network analysis, machine learning, and causal inference. Her personal website contains information on her other ongoing research collaborations. Within the Reefsource project, she focuses on the data science issues around participatory storytelling.
</p>
<p>
    Henryk Blasinski is currently pursuing a Ph. D. in Electrical Engineering at Stanford University. His research interests focus on imaging, computer vision and applied machine learning. As an avid sailor Henryk cruised in the Caribbean, Mediterranean and the Baltic Sea.
</p>
<p>
    Sonali Prasad is a hybrid mix of technology and storytelling, with degrees in Computer Science and Journalism. Currently, She is employed as an investigative reporter for an Energy and Environment Project based at Columbia Journalism School, New York, USA. Previously a Google News Lab Fellow, her passion lies in a lot of field reporting, telling compelling stories of science, environment and climate change.
</p>
<p>
    Vignesh Ramachandran is managing editor of Stanford’s Peninsula Press news website (partnered with SFGate and KQED) and a founding member of the Stanford Computational Journalism Lab. He previously worked for Mashable and NBC News Digital.
</p>
<p>
    Dailin Shen is an honored graduate with Dual M.S. in Computer Science and Journalism at Columbia University. She focuses on Visualization, Computational Journalism, Augmented Reality, Machine Learning, and Artificial Intelligence. Her data visualizations are integrated with news objects, and her pursuit for AI leads her working on feed ranking system development and Fake News detection on Twitter.
</p>
<p>
    Katie Shepherd is a journalist with experience covering politics, policy and government regulations. Her work has been published by the BBC, the New York Times and the Los Angeles Times. She enjoys scouring public records and wanted to be a marine biologist in the fifth grade. Now she writes about them.
</p>


<h4>
    Sponsors
</h4>
<p>
    Brown Institute for Media Innovation
</p>
<p>
    Stanford University
</p>
<p>
    Columbia University
</p>
<p>
    GoPro
</p>
