<div class="container">
    <h3 class="text-center team_title">
        Team Member
    </h3>
    <div class="row vertical-align">
        <div class="col-sm-4 text-center">
            <img [src]="'assets/kristen_altenburger.png' | static" class="team_member"/>
            <h5>
                Kristen M. Altenburger
            </h5>
        </div>
        <div class="col-sm-4 text-center">
            <img [src]="'assets/henryk_blasinski.png' | static" class="team_member"/>
            <h5>
                Henryk Blasinski</h5>
        </div>
        <div class="col-sm-4 text-center">
            <img [src]="'assets/sonali_prasad.png' | static" class="team_member"/>
            <h5>
                Sonali Prasad
            </h5>
        </div>
    </div>

    <br>

    <div class="row vertical-align">
        <div class="col-sm-4 text-center">
            <img [src]="'assets/vignesh_ramachandran.png' | static" class="team_member"/>
            <h5>
                Vignesh Ramachandran
            </h5>
        </div>
        <div class="col-sm-4 text-center">
            <img [src]="'assets/dailin_shen.png' | static" class="team_member"/>
            <h5>
                Dailin Shen
            </h5>
        </div>
        <div class="col-sm-4 text-center">
            <img [src]="'assets/katie_shepherd.png' | static" class="team_member"/>
            <h5>
                Katie Shepherd
            </h5>
        </div>
    </div>
</div>





