:host {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.team_member {
  max-width: 70%;
  max-height: 70%;
}

.team_title {
  margin-bottom: 40px;
}

.team_section {
  max-width: 70%;
}

h4 {
  color: #384163;
}


.teammate:hover {
    opacity: .7;
}

