:host {
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.albums {
  display: flex;
  flex-wrap: wrap;
}

.album {
  min-width: 200px;
  background-color: #cccccc;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
  flex-grow: 1;
}

.album-add {
  background-color: #384163;
  color: beige;
  width: 200px;
}

.album:hover {
  background-color: #eee;
}

.album-add:hover {
  background-color: #5a638a;
}
