<div id="map-info">
   We have analyzed {{ (results)?.count }} photos so far
</div>

<agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [streetViewControl]="false"
        [mapTypeControl]="true"
        [zoomControl]="true">
    <agm-marker-cluster [imagePath]="'assets/clusters/m' | static">
        <agm-marker *ngFor="let r of (albums)?.results"
                    [longitude]="r.lng"
                    [latitude]="r.lat"
                    [label]="r.weighted_result"
                    (dragEnd)="markerDragEnd($event)">
        </agm-marker>
    </agm-marker-cluster>
</agm-map>
