<agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [streetViewControl]="false"
        [mapTypeControl]="true"
        [zoomControl]="true">

    <agm-marker *ngFor="let r of (results$ | async)?.results"
                [longitude]="r.location.coordinates[0]"
                [latitude]="r.location.coordinates[1]"
                [label]="r.score"
                (dragEnd)="markerDragEnd($event)">
    </agm-marker>

</agm-map>
