a {
  color: coral;
  font-weight: 600;
}

.big_picture {
  display: flex;
  align-items: center;
  height: 95vh;
  background-image: url("../../../assets/mission_background_01.gif");
  background-size: cover;
  color: aliceblue;
  font-weight: lighter;
}

.what_we_do {
  display: flex;
  align-items: center;
  height: 95vh;
  background-image: url("../../../assets/mission_background_02.gif");
  background-size: cover;
  color: azure;
  font-weight: lighter;
}
