<h3>
    Our Mission
</h3>
<h4>
    The Big Picture:
</h4>
<p>
    In recent years, the headlines continue to be bleak: human impact and climate change is causing mass bleaching events, damaging coral reefs across the world. In 2017, the Great Barrier Reef near Australia experienced <a href="http://www.npr.org/sections/thetwo-way/2017/04/10/523254085/great-barrier-reef-hit-by-bleaching-for-the-second-year-in-a-row" target="_blank">a severe bleaching event</a> for the second consecutive year. Coral reefs are the "canary in the coal mine" for determining the health of ocean-based ecosystems and coastal areas. Not only does a quarter of the ocean’s animals and plants depend on healthy reefs for food and shelter, but entire economies lean on the tourism and fishing industries reliant on thriving coral populations. The need to better understand coral reef health is more vital than ever.
</p>
<h4>
    What We Do:
</h4>
<p>
    We believe technology empowers journalists and researchers to use the environment as a firsthand data source. We are engaging the diving community to contibute citizen science to support our participatory storytelling about our environment. To do this, we are both distributing cameras, as well as soliciting for RAW photos from divers to build a crowdsourced dataset of coral reef images. When a diver uploads photos, we run the images through an algorithm to provide a rough health score. As we grow our community, the dataset grows. As the dataset grows, researchers and journalists can gain new understanding about the health of a reef.
