<div class="footer-note">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>REEFSOURCE</h4>
                <p>A crowdsourcing environmental project funded by Brown Institute for Media Innovation.</p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3 text-right">
                <h6>CONTACT US</h6>
                <p>2950 Broadway, New York, N.Y., 10027</p>
                <p>contact@coralreefsource.org</p>
            </div>
            <div class="col-sm-3 text-right">
                <h6>SOCIAL MEDIA</h6>
                <label>Medium</label>
                <label>Twitter</label>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <p class="text-center"> Copyright © REEFSOURCE 2017. All right reserved. </p>
</div>
