<div class="container header-nav">
    <div class="row">
        <h1 class="col-sm-4">REEFSOURCE</h1>
        <nav class="col-sm-8">
            <a routerLink="/how-it-works" routerLinkActive="active">How it Works</a>
            <a routerLink="/mission" routerLinkActive="active">Mission</a>
            <a routerLink="/map" routerLinkActive="active">Map</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/contact" routerLinkActive="active">Contact</a>

            <a *ngIf="!(user$ | async)" (click)="login()">Login</a>

            <a *ngIf="(user$ | async)" routerLink="/albums" routerLinkActive="active"> My Albums</a>
            <span *ngIf="(user$ | async)">{{(user$ | async)?.email }} <a (click)="logout()">logout</a></span>
        </nav>
    </div>
</div>
