:host {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed #ccc;
}

.navigation {
  color: #384163;
  margin: 0 20px;
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: space-between;
  align-items: center;
}

/* Medium screens */
@media all and (max-width: 1024px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

.title {
  align-self: flex-start;
  padding-bottom: 10px;
}

nav a {
  font-size: 20px;
  font-variant-caps: all-small-caps;
  line-height: 36px;
  padding: 15px;
}

nav a.active {
  text-decoration: underline;
}

.actions {
  text-align: right;
  line-height: 36px;
}
