:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
}


.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

.uploader-instruction {
  color: #323a59;
  font-weight: bold;
  font-size: 1.5em;
  font-variant: all-small-caps;
}

.instruction-head {
  font-size: 1.3em;
  margin-top: 0;
  font-weight: 500;
  color: lightslategrey;
}

input {
  overflow: hidden;
  opacity: 0;

  position: absolute;
  z-index: -1;
}

.svg-input {
  color: cadetblue;
  cursor: pointer;
}

figure {
  height: 100px;
  border-radius: 50%;
  background-color: cadetblue;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

svg {
  vertical-align: middle;
  fill: beige;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

figure:hover {
  background-color: mediumaquamarine;
}
