agm-map {
  height: 300px;
}

.fields {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.max-width {
  margin-left: 10px;
  flex-grow: 1;
}

.max-width:first-child {
  margin-left: 0;
}
