<h2 md-dialog-title>Create A New Album</h2>

<md-dialog-content>
    <div class="fields">
        <md-input-container class="max-width">
            <input mdInput placeholder="Name" [(ngModel)]="album.name" required>
        </md-input-container>

        <md-input-container class="max-width">
            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="album.date" required>
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>


        <md-input-container class="max-width">
            <input mdInput placeholder="Longitude" #lng type="number" min="-180" max="180" step="0.0001" [(ngModel)]="album.lng" required>
        </md-input-container>

        <md-input-container class="max-width">
            <input mdInput placeholder="Latitude" #lat type="number" min="-90" max="90" step="0.0001" [(ngModel)]="album.lat" required>
        </md-input-container>
    </div>
    <agm-map
            [latitude]="map.lat"
            [longitude]="map.lng"
            [zoom]="map.zoom"
            [disableDefaultUI]="false"
            [streetViewControl]="false"
            [mapTypeControl]="true"
            [zoomControl]="true"
            (mapClick)="mapClicked($event)">

        <agm-marker *ngIf="album.lat && album.lng"
                    [latitude]="album.lat"
                    [longitude]="album.lng"
                    [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)">

        </agm-marker>
    </agm-map>
</md-dialog-content>

<md-dialog-actions>
    <button md-raised-button (click)="createAlbum()" [disabled]="!album.lat || !album.lng">
        Create
    </button>
    <button md-button md-dialog-close>
        Cancel
    </button>
</md-dialog-actions>
