:host {
  display: flex;
  flex-direction: column;
}

.hero {
  min-height: 80vh;
  background-color: #aed0e8;
  display: flex;
  align-items: center;
}

.hero-style {
  margin: 0 auto;
}

.sponsor-nav {
  padding: 20px;
  background-color: cadetblue !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sponsor {
  max-width: 20%;
}

.goal-section {
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.goal-section p {
  padding: 40px;
  margin-bottom: 0;
}

.step-section {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #aed0e8;
}

.slogan {
  font-family: "Avenir Next";
  font-size: 1.6em;
}

button {
  border-radius: 20px;
  border: none;
  color: beige;
  font-variant: all-small-caps;
  padding: 10px 15px 15px;
  font-weight: 800;
  font-size: 1.8em;
  background-color: cadetblue;
}

button:hover {
  background-color: mediumaquamarine;
}

.step-image {
  width: 30%;
}

.steps .col-sm-4 {
  padding-left: 0;
  padding-right: 0;
}

.steps .step-right {
  border: 2px solid #aed0e8;
  padding: 5% 5% 5% 5%;
}
