:host {
  display: flex;
  flex-direction: column;
}

.hero {
  min-height: 80vh;
  background-color: #aed0e8;
  display: flex;
  align-items: center;
}

.hero-style {
  margin: 0 auto;
}

.sponsor-nav {
  padding: 20px;
  background-color: cadetblue !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sponsor {
  max-width: 20%;
}

.goal-section {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.goals {
  max-width: 60%;
}

.goal-section p {
  padding: 25px;
  margin-bottom: 0;
}

.step-section {
  display: flex;
  padding: 25px 5vw 25px 5vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #aed0e8;
}

.step-section h2 {
  padding-bottom: 25px;
}

.step-section li {
  padding-bottom: 25px;
}

.step-text {
  max-width: 60%;
}
.slogan {
  font-family: "Avenir Next";
  font-size: 1.6em;
}

button {
  border-radius: 20px;
  border: none;
  color: beige;
  font-variant: all-small-caps;
  padding: 4px 30px 8px;
  font-weight: 800;
  font-size: 1.8em;
  background-color: cadetblue;
}

button:hover {
  background-color: mediumaquamarine;
}

.goal-image {
  width: 40%;
}

.download_instruction {
  color: cadetblue;
  float: right;
  font-weight: bold;
  font-size: 1.2em;
}

svg {
  max-width: 20%;
}
