<p>Our goal is to make image sourcing easy and fun. We want to replace boring note taking during dives and tedious data entry with modern image analysis.</p>
<p>Once we receive the photos from you, we will run them through our computational pipeline. We start by detecting corals using computer vision classification algorithms. We then analyze coral colors and produce a histogram that is similar to the one Coral Watch uses.</p>

<h4>
    Brief Steps:
</h4>
<p>1. Set cameras' mode and take pre-dive measurements.</p>
<p>2. Dive.</p>
<p>3. Take raw images of coral reef with GoPro5s.</p>
<p>4. Upload RAW images to us via coralreefsource.org.</p>

<h4>To get detailed instructions, please contact us.</h4>
