<div class="hero">
    <div class="hero-style text-center">
        <p class="slogan">A crowdsourcing environmental project on coral reef health.</p>
        <button>Contribute Photos</button>
    </div>
</div>

<div class="sponsor-nav">
    <img [src]="'assets/brown-logo.png' | static" class="sponsor img-responsive"/>
    <img [src]="'assets/stanford-logo.png' | static" class="sponsor img-responsive"/>
    <img [src]="'assets/columbia-logo.png' | static" class="sponsor img-responsive"/>
    <img [src]="'assets/gopro-logo.png' | static" class="sponsor img-responsive"/>
</div>

<div class="goal-section">
    <div class="goals">

        <p>Our goal is to make coral reef image collection easy and fun. We want to replace boring note-taking during dives and tedious data entry with modern image analysis.</p>
        <p>Once we receive photos from you, we run them through our automated computational pipeline. We start by detecting corals using computer vision classification algorithms. We then analyze coral colors and produce a histogram to show the variation in the coral health.</p>

    </div>
</div>

<div class="step-section">
    <div class="step-text">
        <h3 class="text-center">
            Easy Six Steps For Photo Capture using GoPro Hero 5
        </h3>
        <ol>
            <li>
                <p>
                    Turn on the camera. Make sure that the camera is in the PHOTO mode, that RAW image capture is enabled and that the GPS is turned on (if you’ve used and adjusted the camera recently, these should already be set, however after longer periods of time, hen the camera is unused default values may be loaded)
                </p>
                <img [src]="'assets/step_1.png' | static" class="center-block img-responsive"/>
            </li>
            <li>
                <p>
                    Leave the camera on for a few minutes, until the GPS acquires satellite signal and calculates the position. At this point, the GPS status icon in the upper left corner of the camera will turn dark gray.
                </p>
                <img [src]="'assets/step_2.png' | static" class="center-block img-responsive"/>
            </li>
            <li>
                <p>
                    Just as a backup, note the coordinates of the location you are diving in.
                </p>
                <img [src]="'assets/step_4.png' | static" class="center-block img-responsive"/>
            </li>

            <li>
                <p>
                    One thing to remember is to try capturing a representative sample of the underwater landscape, rather than just focus on beautiful sights. We are looking for a variety of images for sampling purposes, both close-ups and wide-angle shots. A bird’s eye view of corals from about 1m will work best
                </p>
                <img [src]="'assets/step_5.png' | static" class="center-block img-responsive"/>
            </li>

            <li>
                <p>
                    For uploading, logon to https://coralreefsource.org/.
                </p>
            </li>

            <li>
                <p>
                    Go Login -> Login with Google -> My albums -> Click on default album -> Upload.
                </p>
            </li>
        </ol>
        <a [href]="'assets/Reefsource-EasySixStepsForPhotoCapture.pdf' | static" class="download_instruction">Download instructions.</a>

    </div>
</div>
