<div class="hero">
    <div class="hero-style text-center">
        <p class="slogan">A crowdsourcing environmental project on coral reef health.</p>
        <button>Contribute Photos</button>
    </div>
</div>

<div class="sponsor-nav">
    <img [src]="'assets/brown-logo.png' | static" class="sponsor img-responsive"/>
    <img [src]="'assets/stanford-logo.png' | static" class="sponsor img-responsive"/>
    <img [src]="'assets/columbia-logo.png' | static" class="sponsor img-responsive"/>
    <img [src]="'assets/gopro-logo.png' | static" class="sponsor img-responsive"/>
</div>

<div class="goal-section">
    <div class="goals">
        <p>Our goal is to make image sourcing easy and fun. We want to replace boring note taking during dives and tedious data entry with modern image analysis.</p>

        <p>Once we receive the photos from you, we will run them through our computational pipeline. We start by detecting corals using computer vision
            classification algorithms. We then analyze coral colors and produce a histogram that is similar to the one Coral Watch uses.</p>
    </div>
</div>

<div class="step-section">
    <div>
        <h5>
            Brief Steps
        </h5>

        <ol>
            <li>Set camera's mode and take pre-dive measurements</li>
            <li>Dive</li>
            <li>Take raw images of coral reef with GoPro5s</li>
            <li>Upload RAW images to us via coralreefsource.org</li>
        </ol>
    </div>
    <img [src]="'assets/step-image.jpg' | static" class="step-image">
</div>
