{% extends 'spa.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block body %}
    <my-app>Loading AppComponent content here ...</my-app>
{% endblock body %}

{% block angular_scripts %}
<script src="node_modules/zone.js/dist/zone.js"></script>
<script src="node_modules/reflect-metadata/Reflect.js"></script>
<script src="node_modules/systemjs/dist/system.src.js"></script>

<script src="reefsource/apps/frontend/angular2/systemjs.config.js"></script>
<script>
    System.import('app')
        .catch(function (err) {
            console.error(err);
        });
</script>

{% endblock angular_scripts %}