<!DOCTYPE html>

{% load static %}
{% load jsonify %}

<html lang="en">
<head>
    <base href="/"/>

    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv='imagetoolbar' content='no'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>reefsource</title>

    <meta name="description" content="Description">

    {% block styles %}{% endblock styles %}
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon"/>
    <link rel="manifest" href="/manifest.json">
</head>
<body>

{% block body %}{% endblock body %}

<script>
    const INITIAL_STATE = {
        isDebug: '{{ debug }}' == 'True',
        staticDir: "{% static '' %}",
        version: '{{ version }}',
        raven_dsn: '{{ raven_dsn }}',
        inactivity_logout: +'{{ inactivity_logout }}',

        //{% if user.is_authenticated %}
        currentUser: {
            app_account_id: +'{{ user.app_account_id}}',
            id: +'{{ user.id }}',
            username: '{{ user.username }}',
            email: '{{user.email}}',
            first_name: '{{user.first_name}}',
            last_name: '{{user.last_name}}',
            timezone: '{{user.app_account.timezone}}',
            permissions: eval('{{ user.get_all_permissions|jsonify }}')
        }
        //{% endif %}
    };
</script>

{% block angular_scripts %}{% endblock angular_scripts %}

</body>
</html>
