<ul *ngIf="album">
    <li *ngFor="let item of album.uploads" class="list-unstyled">
        {{ item.original_filename }} uploaded {{ item.created | date: 'medium' }}, {{ item.status }} @ {{ item.modified | date: 'medium' }} <br>

        <img [src]="item.thumbnail || ('assets/thumbnail_placeholder.png' | static)" width="450px" height="250px" [alt]="item.original_filename">
        <img [src]="item.thumbnail_labeled || ('assets/thumbnail_placeholder.png' | static)" width="450px" height="250px">
    </li>
</ul>

<app-uploader></app-uploader>
