<h3>
    <a routerLink="/albums">My Albums</a> &gt; <span>{{ (album$ | async)?.name }}</span>

    <md-slide-toggle style="float: right"
                     [color]="'primary'"
                     [checked]="checked"
                     (change)="showResults()">
        Show details
    </md-slide-toggle>
</h3>

<div class="items row">
    <div *ngIf="!(album$ | async)?.uploads.length" class="item">
        <p class="text-center">No photos uploaded yet.</p>
    </div>

    <div *ngFor="let item of (album$ | async)?.uploads" class="item col">
        <img [src]="item.thumbnail || ('assets/thumbnail_placeholder.png' | static)" [alt]="item.original_filename" class="img-fluid img-responsive">
        <img *ngIf="checked" [src]="item.thumbnail_labeled || ('assets/thumbnail_placeholder.png' | static)" class="previous-img img-fluid img-responsive">

        <div *ngIf="checked" class="img2album4details">{{ item.original_filename }} <br>
            uploaded {{ item.created | date: 'medium' }}, <br>
            {{ item.status }} @ {{ item.modified | date: 'medium' }}
            <span *ngIf="item.status === 'stage_2_complete'"><br >Score: {{ item?.result?.json?.coral?.score || 'unavailable' }}</span>
        </div>
    </div>
</div>

<div class="item upload-item">
    <app-uploader (itemComplete)="refresh()"></app-uploader>
</div>
