:host {
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

.items {
  display:flex;
  flex-wrap: wrap;
  justify-content: left;
}


.upload-item {
  min-width: calc(100% - 20px);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:10px;
  margin-right:10px;
  background-color: #d7d9df;
  border-radius: 20px;

}

.col {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

img {
    width: 100%;

}

.items .item {
  background-color: #fefefe;
  padding: 30px 0 30px 0;
  border-radius: 10px;
  box-shadow: 0.1px 0.1px 10px 0.2px #eeeeee;
}

.img-fluid {
  min-width:310px;
  max-width: 450px;
  height: auto;
}

span {
  color: lightslategrey;
  font-size: large;
}

app-uploader {
  text-align: center;
}

.img2album4details {
  padding: 20px 0 0 20px;
  color: #6f6f6f;
}

.previous-img{
  padding:2px 0 0 0;
}
